<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/main}">
      
<head>
  <title th:text="#{admin.dashboard.pageTitle}">Dashboard - Admin Panel</title>
</head>

<body>

<div layout:fragment="content">
  
  
  <section id="section-dashboard" class="transition-colors duration-300">
    <h2 class="text-3xl font-bold mb-6 transition-colors duration-300" th:text="#{admin.dashboard.title}">Dashboard</h2>

    <!-- Recent Posts -->
    <div class="bg-light-bg-primary dark:bg-dark-bg-primary p-6 rounded-xl shadow-md transition-all duration-300">
      <h3 class="text-xl font-bold mb-4 transition-colors duration-300" th:text="#{admin.dashboard.recentPosts}">Recent Posts</h3>
      <div class="space-y-4">
        
        
        <!-- Empty state -->
        <div th:if="${#lists.isEmpty(recentPosts)}" class="text-center py-8 transition-colors duration-300">
          <ion-icon name="newspaper-outline" class="text-6xl text-light-fg-tertiary dark:text-dark-fg-tertiary transition-colors duration-300 mb-2"></ion-icon>
          <p class="text-light-fg-secondary dark:text-dark-fg-secondary transition-colors duration-300" th:text="#{admin.dashboard.emptyPosts}">There are no posts yet</p>
        </div>
      </div>
    </div>
  </section>

</div>

</body>
</html>