<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="separator">
    <div
      class="relative mx-auto my-8 h-[0.875rem] w-full flex-none px-4 sm:my-12 lg:px-8"
    >
      <div
        class="absolute right-0 bottom-0 left-0 h-1.5 bg-linear-to-r from-amber-100 via-orange-200 to-amber-100 dark:from-amber-800/50 dark:via-orange-700/50 dark:to-amber-800/50"
      ></div>

      <div
        class="absolute right-0 bottom-0 left-0 z-1 h-1.5 bg-linear-to-t from-white dark:from-zinc-900"
      ></div>

      <div
        class="absolute bottom-0 left-0 z-2 h-1.5 w-60 bg-linear-to-r from-white dark:from-zinc-900"
      ></div>

      <div
        class="absolute right-0 bottom-0 z-2 h-1.5 w-60 bg-linear-to-l from-white dark:from-zinc-900"
      ></div>
    </div>
  </div>
</html>
