<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="list" id="posts-list">
    <div class="space-y-4">
      <div
        th:if="${success}"
        class="rounded-lg bg-green-100 border border-green-200 p-4 mb-4"
      >
        <p class="text-green-800 text-sm" th:text="${success}"></p>
      </div>

      <div
        th:if="${error}"
        class="rounded-lg bg-red-100 border border-red-200 p-4 mb-4"
      >
        <p class="text-red-800 text-sm" th:text="${error}"></p>
      </div>

      <div th:each="post : ${posts}">
        <div th:replace="~{admin/posts/item :: item(post=${post})}"></div>
      </div>

      <div
        th:replace="~{admin/fragments/pagination :: controls(page=${posts})}"
      ></div>
    </div>
  </div>
</html>
